<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836321618394-nm43kutemrerpfroork0oa0mem54a8on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836321618394-nm43kutemrerpfroork0oa0mem54a8on</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>836321618394-65e1sec1b4gl4jfq549i70citidb34ld.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdL3ysobZ-VKCzzwwtpkG7h2UdX9nWUBk</string>
	<key>GCM_SENDER_ID</key>
	<string>836321618394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zamzam.connectingHearts</string>
	<key>PROJECT_ID</key>
	<string>connecting-hearts-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>connecting-hearts-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836321618394:ios:6a2685806db217a769f8e3</string>
</dict>
</plist>